/* ----------------------------------------------------------------------------
PLAYIT: Used for styling the demos it is not requried for PlayIt */

@import url(https://fonts.googleapis.com/css?family=Iceland);

/*GLOBAL TAGS */
body {font-family: 'Trebuchet MS', verdana, arial, sans-serif; max-width:800px; margin: auto; padding:20px 20px 0 20px  }
body.demo { height: 100%; max-width:100%; margin:0; padding:0; }
*:focus { outline: 0 none; }
a {color:#000;}
a:hover {color:#444;}
a, a:link, a:visited, a:hover, a:focus, a:active {outline:0 none; border-style:none;}
div.title {
	padding:5px 10px 5px 10px;
	margin:20px 0px 10px 0px;
	border:1px solid silver;
	background-color:#fff;
	border-radius:5px;
	box-shadow:2px 6px 8px #d4d3d3;
}


div.content-index-screen {
	padding:10px; margin:auto; margin-top:50px; width:800px; line-height:24px;
	border:1px solid silver; border-radius:5px; background-color:#F3F3F3;
}

div.content {padding:10px; }
div.content hr {color:#C0C0C0;}
div.sales-text { font-size:22px; font-weight:bold;   text-align:center; color:#555}
div.footer-authors {font-size:0.8em; color:Gray}

/*  --------------------------
TOP NAVIGATION */
span#playit-devversion{color:#8B4550}
span#playit-webversion{color:#2E55B7}
span#playit-proversion{color:#406747}
span.playit-compression {font-size:16px}

table.top-nav {
	width:100%;
	padding:2px 8px 2px 8px;
	margin:-10px 0 10px 0px;
	border-top:0px solid silver;
	border-bottom:1px solid silver;
	background-color:#efefef;
	line-height:22px;
}
table.top-nav td {padding:2px 10px 2px 10px;  width:33%  }
table.top-nav td.column-1 {white-space:nowrap;}
table.top-nav td.column-1 div {margin:-25px 0 0 40px; font-style: italic;}
table.top-nav td.column-1 h2 {font-family: 'Iceland', Tahoma; font-size:35px; font-weight:bold; }
table.top-nav td.column-1 h2 img { vertical-align:text-bottom}
table.top-nav td.column-2 {text-align:center; font-size:16px;}
table.top-nav td.column-2 select {font-size:16px; border-radius:5px; padding:2px; border:1px solid silver; width:175px; }
table.top-nav td.column-3 {white-space:nowrap; font-size:16px; text-align:right;}


/*  --------------------------
ATTRIBUTES GRID TABLE */
table.attr-grid {width:100%; border-collapse:collapse; font-size:14px;}
table.attr-grid  tr:first-child  {font-weight:bold; background-color:gray; color:white; }
table.attr-grid tr > td:first-child  {font-weight:bold; }
table.attr-grid td {padding:5px; border:1px solid silver; }


/*FANCY BOX*/
div.link-button {
	border:1px solid silver;
	padding:8px;
	border-radius:5px;
	font-size:24px;
	background: rgb(255,255,255); /* Old browsers */
	background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
}

div.link-button a {text-decoration:none;}
div.link-button img {height:24px; width:24px; margin:-5px 5px 0px 0px;}
div.link-button-on {border:1px solid #747474; cursor:pointer;}


/* FIGURE BOXES */
div.figure-box  {
	border-radius:5px;
	margin:0px 0px 5px 0px;
	padding:5px;
	border: 1px solid silver;
	border-radius:5px;
	margin-bottom:8px;
	box-shadow: 3px 3px 4px #999;
}
div.figure-text {margin-top:15px; text-align:center;color:#000; font-style:italic;font-size:12px;line-height:14px;}
div.sub-title  {padding:5px 0px 0px 20px;margin-bottom:30px;}
div#switcher a {padding-bottom:8px !important; white-space:nowrap !important; }
div.demo-links table {border:1px solid silver; border-radius:5px;}
div.demo-links a {text-decoration: underline}
div.demo-links  table td {padding: 6px}

/* Custom page header */
.header {padding: 0 0 10px 0;}
.header h3 {padding-bottom: 19px; margin-top: 0; margin-bottom: 0; line-height: 40px;}
.header img  { height:25px; margin-top:-5px}
.header a.logo-info {color:#000 !important; font-weight:bold; text-decoration: none;}
.header a.git {text-decoration: none; color:#999; font-weight: normal;}
.header a.git:hover {color:#777}

.jumbotron {
	text-align: center;
	padding:10px 0 1px 0;
	color:#fff; text-shadow: #222 0.1em 0.1em 0.2em; font-family: 'Ropa Sans', 'sans-serif';
    background: linear-gradient(-45deg, #8a9fce, #411fb2, #5e136e);
    background-size: 400% 400%;
    animation: background-gradient-animator 25s ease infinite;
}

@keyframes background-gradient-animator {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}
